In [3]:
str = "Pwskills"
str[::-1]

'sllikswP'

In [4]:
def isPalindrome(s):
	return s == s[::-1]


s = "malayalam"
ans = isPalindrome(s)

if ans:
	print("Yes")
else:
	print("No")

Yes

In [6]:
str = "name"
(str.upper())

'NAME'

In [7]:
str = "NAME"
(str.lower())

'name'

In [8]:
def isVowel(ch):
	return ch.upper() in ['A', 'E', 'I', 'O', 'U']
def countVowels(str):
	count = 0
	for i in range(len(str)):
		if isVowel(str[i]):
			count += 1
	return count
str = 'Pwskills'
print(countVowels(str))

1

In [6]:
def isConsonant(ch):
	ch = ch.upper()

	return not (ch == 'A' or ch == 'E' or
				ch == 'I' or ch == 'O' or
				ch == 'U') and ord(ch) >= 65 and ord(ch) <= 90

def totalConsonants(string):
	
	count = 0
	
	for i in range(len(string)):

		if (isConsonant(string[i])):
			count += 1
			
	return count

string = "Pwskills"
print(totalConsonants(string))

7

In [10]:
def remove(string):
	return string.replace(" ", "")


# Driver Program
string = ' P w s k i l l s '
print(remove(string))

Pwskills

In [11]:
def findLen(str):
	counter = 0
	while str[counter:]:
		counter += 1
	return counter

str = "Pwskills"
print(findLen(str))

8

In [1]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [2]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [14]:
def countOccurrences(str, word):

	wordslist = list(str.split())
	return wordslist.count(word)

str = "we are completed python basics in PWSKILLS"
word = "python"
print(countOccurrences(str, word))

1

In [4]:
txt = "welcome to Pwskills"

x = txt.split()

print(x)

['welcome', 'to', 'Pwskills']

In [5]:
str = '-'.join('Pwskills')
print(str)

P-w-s-k-i-l-l-s

In [7]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [12]:
txt = "Hello, welcome to my world."

x = txt.endswith("Hello")

print(x)

False

In [15]:
def convert(string) :

	n = len(string);
	string = list(string);
	
	for i in range(n) :
	
		if (string[i] == ' ') :
			string[i] = '_';
		else :
		
			string[i] = string[i].lower();
	
	string = "".join(string)
	print(string);

if __name__ == "__main__" :

	string = "I got intern at Pwskills";
		
convert(string);

i_got_intern_at_pwskills

In [1]:
str = "hello world"
print(str. title())

Hello World

In [2]:
str = "Pwskills"
print(str[::-1])

sllikswP

In [12]:
str = "Pwskills?"
x = str.isalnum()
print(x)

False

In [16]:
def largestWord(s):
	s = sorted(s, key = len)
	print(s[-1])
if __name__ == "__main__":
	s = "be confident and be yourself"
	l = list(s.split(" "))
	largestWord(l)

confident

In [18]:
def smallestWord(s):
	s = sorted(s, key = len)
	print(s[0])
if __name__ == "__main__":
	s = "be confident and be yourself"

	l = list(s.split(" "))

	smallestWord(l)

be

In [13]:
txt = "Pwsills?"
x = txt.isalnum()
print(x)

False

In [3]:
test_string = "There are 2 apples for 4 persons"
print("The original string : " + test_string)
res = list(filter(lambda x: x.isdigit(), test_string.split()))
res = [int(s) for s in res]
print("The numbers list is : " + str(res))

The original string : There are 2 apples for 4 persons
The numbers list is : [2, 4]

In [4]:
import re

ini_string = "123()#$ABGFDabcjw"
ini_string2 = "abceddfgh"

print ("initial string : ", ini_string, ini_string2)

res1 = " ".join(re.split("[^a-zA-Z]*", ini_string))
res2 = " ".join(re.split("[^a-zA-Z]*", ini_string2))

print ("first string result: ", str(res1))
print ("second string result: ", str(res2))

initial string :  123()#$ABGFDabcjw abceddfgh
first string result:    A B G F D a b c j w
second string result:   a b c e d d f g h

In [5]:
def Count(str):
	upper, lower, number, special = 0, 0, 0, 0
	for i in range(len(str)):
		if str[i].isupper():
			upper += 1
		elif str[i].islower():
			lower += 1
		elif str[i].isdigit():
			number += 1
		else:
			special += 1
	print('Upper case letters:', upper)
	print('Lower case letters:', lower)
	print('Number:', number)
	print('Special characters:', special)

str = "Pwsills01fOr@PwSILLS07"
Count(str)

Upper case letters: 8
Lower case letters: 9
Number: 4
Special characters: 1

In [20]:
string = "PWskiLLS"

print(string.swapcase())

string = "pwskills"
print(string.swapcase())

string = "PWSKILLS"
print(string.swapcase())

pwSKIlls
PWSKILLS
pwskills

In [21]:
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
def check(email):
	if(re.fullmatch(regex, email)):
		print("Valid Email")
	else:
		print("Invalid Email")
if __name__ == '__main__':
	email = "pwskills@gmail.com"
	check(email)

Valid Email

In [30]:
test_str = 'Karthik@pwskills.com'
print("The original string is : " + (test_str))
res = test_str[test_str.index('@') + 1 : ]
print("The extracted domain name : " + (res))

The original string is : Karthik@pwskills.com
The extracted domain name : pwskills.com

In [1]:
test_str = "karthik@Pwskills.com"
print("The original string is : " + str(test_str))
res = test_str[test_str.index('@') + 1 : ]
print("The extracted domain name : " + str(res))

The original string is : karthik@Pwskills.com
The extracted domain name : Pwskills.com

In [2]:
import re
s = "I  am      in pwskills course"
s = re.sub(" +", " ", s)
print(s)

I am in pwskills course

In [3]:
def Find(string):
	x=string.split()
	res=[]
	for i in x:
		if i.startswith("https:") or i.startswith("http:"):
			res.append(i)
	return res
			
string = 'https://pwskills.com/'
print("Urls: ", Find(string))

Urls:  ['https://pwskills.com/']

In [4]:
test_str = "Pwskills"
all_freq = {}
for i in test_str:
	if i in all_freq:
		all_freq[i] += 1
	else:
		all_freq[i] = 1
print("Count of all characters in Pwskills is :\n "
	+ str(all_freq))

Count of all characters in Pwskills is :
 {'P': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

In [5]:
test_str = "hello, is it : worth ! pwskills for there price ;"
print("The original string is : " + test_str)
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for ele in test_str:
	if ele in punc:
		test_str = test_str.replace(ele, "")
print("The string after punctuation filter : " + test_str)

The original string is : hello, is it : worth ! pwskills for there price ;
The string after punctuation filter : hello is it  worth  pwskills for there price

In [6]:
ini_string1 = '1234556'
ini_string2 = 'ab123bc'

print("Initial Strings : ", ini_string1, ini_string2)

if ini_string1.isdigit():
	print("String1 contains all numbers")
else:
	print("String1 doesn't contains all numbers")

if ini_string2.isdigit():
	print("String2 contains all numbers")
else:
	print("String2 doesn't contains all numbers")

Initial Strings :  1234556 ab123bc
String1 contains all numbers
String2 doesn't contains all numbers

In [7]:
ini_str = "pwskills"
print ("Initial String", ini_str)
if ini_str.isalpha():
	print("String contains only letters")
else:
	print("String doesn't contains only letters")

Initial String pwskills
String contains only letters

In [8]:
string = "Pwskills"
print([*string])

['P', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [9]:
def check(s1, s2):
	if(sorted(s1)== sorted(s2)):
		print("The strings are anagrams.")
	else:
		print("The strings aren't anagrams.")		
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

In [10]:
def encrypt(text,s):
	result = ""
	for i in range(len(text)):
		char = text[i]
		if (char.isupper()):
			result += chr((ord(char) + s-65) % 26 + 65)
		else:
			result += chr((ord(char) + s - 97) % 26 + 97)

	return result
text = "PWSKILLS"
s = 4
print ("Text : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

Text : PWSKILLS
Shift : 4
Cipher: TAWOMPPW

In [11]:
import re
dict = {}
def uniqueWord(Word):
	if Word in dict:
		dict[words] += 1
	else:
		dict.update({words: 1})
if __name__ == '__main__':
	string = "Java is great. Python is also great"
	ListOfWords = re.split("[\W]+", string)
	for words in ListOfWords:
		uniqueWord(words)
	for elements in dict:
		if dict[elements] == 1:
			print(elements)

Java
Python
also

In [12]:
import re
def run(string):
	regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
	if(regex.search(string) == None):
		print("String is accepted")
	else:
		print("String is not accepted.")
if __name__ == '__main__' :
	string = "pw$skills$"
	run(string)

String is not accepted.

In [13]:
def remove_word(list1, word, n1):
	def generator():
		count = 0
		for i in list1:
			if i != word or (i == word and count != n1):
				yield i
			if i == word:
				count += 1
	return list(generator())
list1 = ["he", "is", "karthik", "is", "reddy", "is", "karthik reddy"]
word = "is"
n1 = 3

print("New list is :", remove_word(list1, word, n1))

New list is : ['he', 'is', 'karthik', 'is', 'reddy', 'is', 'karthik reddy']

In [14]:
test_string = 'pskills'
add_string = "w"
print("The original string : " + test_string)
print("The add string : " + add_string)
N = 1
res = test_string[ : N] + add_string + test_string[N : ]
print("The string after performing addition : " + str(res))

The original string : pskills
The add string : w
The string after performing addition : pwskills

In [15]:
import pandas as pd
dict = {
	'series'  : ['Friends', 'Money Heist', 'Marvel'],
	'episodes': [ 200,50,45],
	'actors'  : [' David Crane',  'Alvaro',  'Stan Lee']
}
df = pd.DataFrame(dict)
print(df)

        series  episodes        actors
0      Friends       200   David Crane
1  Money Heist        50        Alvaro
2       Marvel        45      Stan Lee

In [6]:
a = [1,2,3,4,5,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [7]:
string = 'Hello'
count = 0
for i in string:
    count+=1
print(count)

5

In [8]:
list = ['p', 'w']
list.append('skills')
print (list)

['p', 'w', 'skills']

In [9]:
list1 = [ 1, 2, 3, 4, 5, 6, 7 ]
list1.insert(4, 10)
print(list1)

[1, 2, 3, 4, 10, 5, 6, 7]

In [1]:
lst = ['Iris', 'Orchids', 'Rose', 'Lavender',
	'Lily', 'Carnations']
print("Original List is :", lst)
lst.remove('Orchids')
print("After deleting the item :", lst)

Original List is : ['Iris', 'Orchids', 'Rose', 'Lavender', 'Lily', 'Carnations']
After deleting the item : ['Iris', 'Rose', 'Lavender', 'Lily', 'Carnations']

In [2]:
list = [5, 6, 3, 7, 8, 1, 2, 10]
list.pop(1)
print(list)

[5, 3, 7, 8, 1, 2, 10]

In [3]:
lst=[ 1, 6, 3, 5, 3, 4 ]
i=6
if i in lst:
	print("exist")
else:
	print("not exist")

exist

In [4]:
list1 = ['cat', 'bat', 'mat', 'cat', 'pet']
print(list1.index('bat'))

1

In [5]:
def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
										countX(lst, x)))

8 has occurred 5 times

In [9]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
numbers = [1, 3, 4, 2]
print(numbers.sort())
print(numbers)

None
[1, 2, 3, 4]

In [11]:
numbers = [1, 3, 4, 2]
numbers.sort(reverse=True)
print(numbers)

[4, 3, 2, 1]

In [14]:
list1 = [2,4,6,8,10,12,14,16,18,20]
even_nos = (list1)
print (even_nos)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
list1 = [1,3,5,7,9,11,13,15,17,19]
odd_nos = (list1)
print (odd_nos)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
total = 0
ele = 0
list1 = [1,2,3,4,5,]
while(ele < len(list1)):
	total = total + list1[ele]
	ele += 1
print (total)

15

In [21]:
list1 = [4, -4, 8, -9, 1]
maxValue = max(list1)
print(maxValue)

8

In [22]:
list1 = [4, -4, 8, -9, 1]
maxValue = min(list1)
print(maxValue)

-9

In [23]:
import random
rand_list=[]
n=10
for i in range(n):
	rand_list.append(random.randint(3,9))
print(rand_list)

[9, 7, 6, 6, 3, 7, 8, 9, 6, 8]

In [25]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
		+ str(test_list))
print ("The list after removing duplicates : "
		+ str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 5, 3, 6, 3, 5, 6, 1]

In [26]:
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)
	if (a_set & b_set):
		print(a_set & b_set)
	else:
		print("No common elements")
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

{5}

In [27]:
list1 = [10, 15, 20, 25, 30, 35, 40]
list2 = [25, 40, 35]
list3 = []
for element in list1:
	if element not in list2:
		list3.append(element)
print(list3)

[10, 15, 20, 30]

In [28]:
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
for i in test_list2 :
	test_list1.append(i)
print (str(test_list1))

[1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [29]:
def multiplyList(myList):
	result = 1
	for x in myList:
		result = result * x
	return result
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list2))

24

In [30]:
list = [1, 2, 3, 4, 5]
out = []

for num in list:
	if num % 2 == 0:
		out.append(num)
print(out)

[2, 4]

In [1]:
lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

In [2]:
list_int = [1,2,3,4,5]
list_string = map(str, list_int)
print(list(list_string))

['1', '2', '3', '4', '5']

In [3]:
def flat(lis):
	flatList = []
	for element in lis:
		if type(element) is list:
			for item in element:
				flatList.append(item)
		else:
			flatList.append(element)
	return flatList
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [4]:
def fibonacci_nums(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return sequence
print("First 7 Fibonacci numbers:")
print(fibonacci_nums(7))
print("\nFirst 15 Fibonacci numbers:")
print(fibonacci_nums(15))
print("\nFirst 50 Fibonacci numbers:")
print(fibonacci_nums(50))

First 7 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13]

First 15 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

First 50 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025]

In [5]:
test_list = [1, 4, 5, 8, 10]
print ("Original list : " + str(test_list))
flag = 0
i = 1
while i < len(test_list):
	if(test_list[i] < test_list[i - 1]):
		flag = 1
	i += 1
if (not flag) :
	print ("Yes, List is sorted.")
else :
	print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

In [6]:
def rotate_list(lst, n):
	return list(reversed(lst[-n:])) + lst[:-n]

my_list = [1, 2, 3, 4, 5]
print ("Original list : " + str(my_list))

rotated_list = rotate_list(my_list, 2)
print(rotated_list)

Original list : [1, 2, 3, 4, 5]
[5, 4, 1, 2, 3]

In [7]:
def rightRotate(lists, num):
	output_list = []
	for item in range(len(lists) - num, len(lists)):
		output_list.append(lists[item])
	for item in range(0, len(lists) - num):
		output_list.append(lists[item])
	return output_list
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [8]:
def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list
starting_range = 1
ending_range = 50
lst = prime(starting_range, ending_range)
if len(lst) == 0:
	print("There are no prime numbers in this range")
else:
	print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [9]:
my_list = [1, 2, 3, 4, 5,
		6, 7, 8, 9]
start = 0
end = len(my_list)
step = 3
for i in range(start, end, step):
	x = i
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
list2 = list(set(list1))
list2.sort()
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [11]:
Input1 = ['cut', 'god', 'pass']
Input2 = ['god', 'cut', 'cut', 'cut',
		'god', 'pass', 'cut', 'pass']
Output = []
for x in Input2:
	for y in Input1:
		if x == y:
			Output.append(Input1.index(y))
print("initial 2 list are")
print(Input1, "\n", Input2)
print("Second list after replacement is:", Output)

initial 2 list are
['cut', 'god', 'pass']
 ['god', 'cut', 'cut', 'cut', 'god', 'pass', 'cut', 'pass']
Second list after replacement is: [1, 0, 0, 0, 1, 2, 0, 2]

In [12]:
def list_to_dict_with_index(lst):
	dict_with_index = {index: value for index, value in enumerate(lst)}
	return dict_with_index

if __name__ == "__main__":
	sample_list = ['a', 'b', 'c', 'd', 'e']
	result_dict = list_to_dict_with_index(sample_list)
	print(result_dict)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [13]:
import random
test_list = [1, 4, 5, 6, 3]
print("The original list is : " + str(test_list))
random.shuffle(test_list)
print("The shuffled list is : " + str(test_list))

The original list is : [1, 4, 5, 6, 3]
The shuffled list is : [3, 5, 4, 1, 6]

In [15]:
def factorial(n):
	return 1 if (n==1 or n==0) else n * factorial(n - 1)
num = 10
print("Factorial of",num,"is",factorial(num))

Factorial of 10 is 3628800

In [16]:
def common_member(a, b):
	return any(i in b for i in a)
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

In [18]:
a = [6, 0, 4, 1]
print('a before clear:', a)
a.clear()
print('a after clear:', a)

a before clear: [6, 0, 4, 1]
a after clear: []

In [19]:
import numpy as np
ini_array1 = np.array([1, 2, -3, 4, -5, -6])
print("initial array", ini_array1)
ini_array1[ini_array1<0] = 0
print("New resulting array: ", ini_array1)

initial array [ 1  2 -3  4 -5 -6]
New resulting array:  [1 2 0 4 0 0]

In [20]:
s = "Pwskills"
x = list(s)
print(x)

['P', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [21]:
x = ["pwskills"]
s = str(x)
print(s)

['pwskills']

In [22]:
def isPowerOfTwo(n):
	if (n == 0):
		return False
	while (n != 1):
			if (n % 2 != 0):
				return False
			n = n // 2
	return True
if(isPowerOfTwo(31)):
	print('Yes')
else:
	print('No')
if(isPowerOfTwo(64)):
	print('Yes')
else:
	print('No')

No
Yes

In [1]:
test_list = ['p', 'w', 'skills']
print("The original list : " + str(test_list))
max_len = -1
for ele in test_list:
	if len(ele) > max_len:
		max_len = len(ele)
		res = ele
print("Maximum length string is : " + res)

The original list : ['p', 'w', 'skills']
Maximum length string is : skills

In [2]:
test_list = ['p', 'w', 'skills']
print("The original list : " + str(test_list))
res = min(len(ele) for ele in test_list)
print("Length of minimum string is : " + str(res))

The original list : ['p', 'w', 'skills']
Length of minimum string is : 1

In [3]:
def triangular_series(n):
	for i in range(1, n + 1):
		print( i*(i+1)//2,end=' ')
n = 5
triangular_series(n)

1 3 6 10 15

In [4]:
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))
flag = 0
if(all(x in test_list for x in sub_list)):
	flag = 1
if (flag):
	print("Yes, list is subset of other.")
else:
	print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5, 4]
Yes, list is subset of other.

In [5]:
def swapPositions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [8]:
T = (1,2,3,4,50)
print(T)

(1, 2, 3, 4, 50)

In [10]:
test_list = [1, 4, 5, 7, 8]
print("The list is : " + str(test_list))
counter = 0
for i in test_list:
	counter = counter + 1
print("Length of list using naive method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

In [12]:
T = (1,2,3,4,50)
print(len(T))

5

In [14]:
Tuple = ( 4, 2, 5, 6, 7, 5)
print(Tuple.index(4))

0

In [15]:
test_tup = (10, 4, 5, 6, 8)
print("The original tuple : " + str(test_tup))
N = 6
res = False
for ele in test_tup:
	if N == ele:
		res = True
		break
print("Does tuple contain required value ? : " + str(res))

The original tuple : (10, 4, 5, 6, 8)
Does tuple contain required value ? : True

In [23]:
t = (1,2,3,4,5)
print([t])

[(1, 2, 3, 4, 5)]

In [21]:
def convert(list):
	return tuple(list)
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [24]:
a = ("LPU", 5000, "Engineering")
(college, student, type_ofcollege) = a
print(college)
print(student)
print(type_ofcollege)

LPU
5000
Engineering

In [26]:
t = (2,4,6,8,10)
print(t)

(2, 4, 6, 8, 10)

In [28]:
t = (1,3,5,7,9)
print(t)

(1, 3, 5, 7, 9)

In [29]:
t1 = (1,2,3,4,5)
t2 = (6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [31]:
tup = (1, 3)
print("The original tuple : " + str(tup))
N = 3
res = ((tup, ) * N)
print("The duplicated tuple elements are : " + str(res))

The original tuple : (1, 3)
The duplicated tuple elements are : ((1, 3), (1, 3), (1, 3))

In [33]:
Mytuple=()
if not Mytuple:
    print ("Mytuple is empty")
else:
    print ("Mytuple is not empty")
print(Mytuple)

Mytuple is empty
()

In [34]:
test_tup1 = (3, 4),
test_tup2 = (5, 6),
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = test_tup1 + test_tup2
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

In [1]:
Tuple = ("Hello")
print(Tuple)

Hello

In [4]:
test_tup1 = (10, 4, 5)
test_tup2 = (13, 5, 18)
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = all(x < y for x, y in zip(test_tup1, test_tup2))
print("Are all elements in second tuple greater than first ? : " + str(res))

The original tuple 1 : (10, 4, 5)
The original tuple 2 : (13, 5, 18)
Are all elements in second tuple greater than first ? : True

In [1]:
test_tup = (1, 5, 3, 6, 8)
print("The original tuple : " + str(test_tup))
temp = list(test_tup)
temp.clear()
test_tup = tuple(temp)
print("The tuple after clearing values : " + str(test_tup))

The original tuple : (1, 5, 3, 6, 8)
The tuple after clearing values : ()

In [2]:
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
print(tuplex[3:5])

(5, 4)

In [1]:
t = (25, 17, 55, 63, 40)

max_val = t[0]

for i in range(len(t)):
	if t[i] > max_val:
		max_val = t[i]

print("Maximum value is:", max_val)

Maximum value is: 63

In [2]:
t = (25, 17, 55, 63, 40)

min_val = t[0]

for i in range(len(t)):
	if t[i] > min_val:
		min_val = t[i]

print("Minimum value is:", min_val)

Minimum value is: 63

In [4]:
string = "Pwskills"
print([*string])

['P', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [6]:
def convert(s):
	new = ""
	for x in s:
		new += x
	return new
s = ["P, w, s, k, i, l, l, s "]
print(convert(s))

P, w, s, k, i, l, l, s

In [7]:
var = ("P, w, skills")
print(var)

P, w, skills

In [8]:
test_list1 = [(10, 4), (2, 5)]
test_list2 = [(10, 4), (2, 5)]

print("The original list 1 : " + str(test_list1))
print("The original list 2 : " + str(test_list2))

res = test_list1 == test_list2
print("Are tuple lists identical ? : " + str(res))

The original list 1 : [(10, 4), (2, 5)]
The original list 2 : [(10, 4), (2, 5)]
Are tuple lists identical ? : True

In [9]:
def last(n):
	return n[m]

def sort(tuples):
	return sorted(tuples, key = last)
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
m = 2
print("Sorted:"),
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

In [10]:
test_str = "(7, 8, 9)"
print("The original string is : " + test_str)

res = tuple(int(num) for num in test_str.replace('(', '').replace(')', '').replace('...', '').split(', '))


print("The tuple after conversion is : " + str(res))

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [11]:
test_str = "(7, 8, 9)"
print("The original string is : " + test_str)
res = tuple(int(num) for num in test_str.replace('(', '').replace(')', '').replace('...', '').split(', '))
print("The tuple after conversion is : " + str(res))

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [12]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [13]:
from functools import reduce

def flatten_tuple(nested_tuple):
	def reducer(acc, val):
		if isinstance(val, tuple):
			return acc + flatten_tuple(val)
		else:
			return acc + (val,)

	return reduce(reducer, nested_tuple, ())
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

print("The original tuple : " + str(test_tuple))

res = flatten_tuple(test_tuple)

print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : (4, 5, 4, 7, 8, 9, 10, 11, 9, 10, 3, 4)

In [14]:
def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list
starting_range = 2
ending_range = 7
lst = prime(starting_range, ending_range)
if len(lst) == 0:
	print("There are no prime numbers in this range")
else:
	print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5]

In [15]:
test_list = [1, 4, 5, 4, 1]
print("The original list is : " + str(test_list))
reverse = test_list[::-1]
res = test_list == reverse
print("Is list Palindrome : " + str(res))

The original list is : [1, 4, 5, 4, 1]
Is list Palindrome : True

In [17]:
def squaresum(n):
	sm = 0
	for i in range(1, n+1):
		sm = sm + (i * i)

	return sm
n = 5
print(squaresum(n))

55

In [18]:
lis = [1, 2, 3, 4, 5]
out = []
for num in lis:
	if num % 2 == 0:
		out.append(num)
print(out)

[2, 4]

In [19]:
def prod(val) :
	res = 1
	for ele in val:
		res *= ele
	return res
test_tup = (7, 8, 9, 1, 10, 7)
print("The original tuple is : " + str(test_tup))
res = prod(list(test_tup))
print("The product of tuple elements are : " + str(res))

The original tuple is : (7, 8, 9, 1, 10, 7)
The product of tuple elements are : 35280

In [20]:
import random
N = 4
R = 6
generate_tuples = lambda N, R: [(random.randint(0, R), random.randint(0, R)) for _ in range(N)]
output = generate_tuples(N, R)
print(output)

[(6, 5), (4, 5), (1, 4), (5, 1)]

In [21]:
def is_tuple_sorted(t):
    for i in range(1, len(t)):
        if t[i] < t[i-1]:
            return False
    return True
t = (1, 2, 3, 4, 5)
print(is_tuple_sorted(t))

True

In [22]:
def rightRotate(lists, num):
	output_list = []
	for item in range(len(lists) - num, len(lists)):
		output_list.append(lists[item])
	for item in range(0, len(lists) - num):
		output_list.append(lists[item])
	return output_list
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [23]:
def rightRotate(lists, num):
	output_list = []
	for item in range(len(lists) - num, len(lists)):
		output_list.append(lists[item])
	for item in range(0, len(lists) - num):
		output_list.append(lists[item])
	return output_list
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [25]:
def Fibonacci(n):
	if n<= 0:
		print("Incorrect input")
	elif n == 1:
		return 0
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)
print(Fibonacci(5))

3

In [26]:
mytuple = ("Pwskills",)
print(type(mytuple))
mytuple = ("Pwskills")
print(type(mytuple))

<class 'tuple'>
<class 'str'>

In [28]:
test_list = [(3, 4), (6, 5), (7, 8)]
print("The original list is : " + str(test_list))
res = [(sub[1], sub[0]) for sub in test_list]
print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

In [29]:
tup =(1,2,3,4,5)
print(tup[::-1])

(5, 4, 3, 2, 1)

In [32]:
print("Enter the Total Number of Terms: ")
tot = int(input())

for i in range(tot):
    print("2 raised to the power ", i, " is ", 2 ** i)

Enter the Total Number of Terms:

 2

2 raised to the power  0  is  1
2 raised to the power  1  is  2

In [33]:
test_list = ['p' , 'w' , 'skills']
print("The original list : " + str(test_list))
max_len = -1
for ele in test_list:
	if len(ele) > max_len:
		max_len = len(ele)
		res = ele
print("Maximum length string is : " + res)

The original list : ['p', 'w', 'skills']
Maximum length string is : skills

In [34]:
test_list = ['gfg', 'is', 'best']
print("The original list : " + str(test_list))
res = min(len(ele) for ele in test_list)
print("Length of minimum string is : " + str(res))

The original list : ['gfg', 'is', 'best']
Length of minimum string is : 2

In [35]:
def isTriangular(num):
	if (num < 0):
		return False
	sum, n = 0, 1
	while(sum <= num):
		sum = sum + n
		if (sum == num):
			return True
		n += 1
	return False
n = 55
if (isTriangular(n)):
	print("The number is a triangular number")
else:
	print("The number is NOT a triangular number")

The number is a triangular number

In [36]:
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 10)
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = set(test_tup2).issubset(test_tup1)
print("Is 2nd tuple subset of 1st ? : " + str(res))

The original tuple 1 : (10, 4, 5, 6)
The original tuple 2 : (5, 10)
Is 2nd tuple subset of 1st ? : True

In [2]:
count_1 = 4
count_0 = 3
size = 14
test_list = [1 if i % (count_1 + count_0) < count_1
			else 0 for i in range(size)]
print("The list after initializing : " + str(test_list))

The list after initializing : [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0]

In [1]:
s = {1,2,3,4,5}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [6]:
s = {6, 0, 4}
s.add(1)
print('Letters are:', s)
s.add(0)
print('Letters are:', s)

Letters are: {0, 1, 4, 6}
Letters are: {0, 1, 4, 6}

In [7]:
languages = {'Python', 'Java', 'English'}
languages.remove('English')
print(languages)

{'Java', 'Python'}

In [8]:
import random
data = {7058, 7059, 7072, 7074, 7076}
print(7058 in data)
print(7059 in data)
print(7071 in data)

True
True
False

In [9]:
string = 'Hello'
count = 0
for i in string:
    count+=1
print(count)

5

In [10]:
test_set = {6, 4, 2, 7, 9}
print("The original set is : " + str(test_set))
rem_ele = [2, 4, 8]
res = test_set - set(rem_ele)
print("Set after removal : " + str(res))

The original set is : {2, 4, 6, 7, 9}
Set after removal : {9, 6, 7}

In [18]:
evSet = {15, 26, 19, 78, 64, 35, 66}
print("Even Set Items = ", evSet)

print("\nThe Even Numbers in this evSet Set are:")
for val in evSet:
    if(val % 2 == 0):
        print(val, end = "  ")

Even Set Items =  {64, 66, 35, 19, 26, 78, 15}

The Even Numbers in this evSet Set are:
64  66  26  78

In [19]:
oddSet = {26, 33, 19, 8, 41, 35, 12, 17}
print("Odd Set Items = ", oddSet)

print("\nThe Odd Numbers in this oddSet Set are:")
for odval in oddSet:
    if(odval % 2 != 0):
        print(odval, end = "  ")

Odd Set Items =  {33, 35, 8, 41, 12, 17, 19, 26}

The Odd Numbers in this oddSet Set are:
33  35  41  17  19

In [20]:
A = {2, 3, 5}
B = {1, 3, 5}
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 5}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [22]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

In [23]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(A.issubset(B))

True

In [24]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}
print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
True

In [25]:
my_list = [1 ,2 ,3, 3, 4, 5, 5]
my_set = set() 
for num in my_list:
    my_set.add(num)
print(my_set)

{1, 2, 3, 4, 5}

In [26]:
my_set = {'p', 'w', 'skills'}
print(type(my_set))
s = list(my_set)
print(type(s))

<class 'set'>
<class 'list'>

In [27]:
import random
test_list = [6, 4, 8, 9, 10]
print("The original list : " + str(test_list))
test_list.pop(random.randrange(len(test_list)))
print("List after removal of random number : " + str(test_list))

The original list : [6, 4, 8, 9, 10]
List after removal of random number : [6, 4, 8, 9]

In [28]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'cherry'}

In [29]:
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)
	if len(a_set.intersection(b_set)) > 0:
		return(True)
	return(False)
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

In [30]:
x = {'a', 'l', 'l', 'i', 's'}
y = {'e', 'i', 'e', 's', 'y'}
o = {}
print(x.symmetric_difference(y))
print(y.symmetric_difference(x))

print(x.symmetric_difference(o))
print(y.symmetric_difference(o))

{'l', 'a', 'e', 'y'}
{'l', 'a', 'e', 'y'}
{'l', 's', 'i', 'a'}
{'e', 's', 'y', 'i'}

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'google', 'cherry', 'apple', 'banana'}

In [32]:
name={"karan","kunnal","aditi","janshna"}
rollno={1,2,3,4,5}
print(name==rollno)

False

In [35]:
animals = frozenset(["cat", "dog", "lion"])
print("cat" in animals)
print("elephant" in animals)

True
False

In [36]:
def areDisjoint(set1, set2, m, n):
	for i in range(0, m):
		for j in range(0, n):
			if (set1[i] == set2[j]):
				return False
	return True
set1 = [12, 34, 11, 9, 3]
set2 = [7, 2, 1, 5]
m = len(set1)
n = len(set2)
print("yes") if areDisjoint(set1, set2, m, n) else(" No")

yes

In [37]:
def squaresum(n):
	sm = 0
	for i in range(1, n+1):
		sm = sm + (i * i)
	return sm
n = 5
print(squaresum(n))

55

In [38]:
lis = [1, 2, 3, 4, 5]
out = []
for num in lis:
	if num % 2 == 0:
		out.append(num)
print(out)

[2, 4]

In [39]:
def multiplyList(myList):
	result = 1
	for x in myList:
		result = result * x
	return result
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [40]:
import random

rand_list=[]
n=10
for i in range(n):
	rand_list.append(random.randint(3,9))
print(rand_list)

[5, 5, 5, 5, 7, 5, 9, 6, 7, 6]

In [41]:
if __name__ == '__main__':
 
    s = set()
 
    isEmpty = (len(s) == 0)
 
    if isEmpty:
        print("Set is empty")
    else:
        print("Set is not empty")

Set is empty

In [42]:
animals = frozenset(["cat", "dog", "lion"])
print("cat" in animals)
print("elephant" in animals)

True
False

In [43]:
def Remove(sets):
	sets.discard(20)
	print (sets)
sets = set([10, 20, 26, 41, 54, 20])
Remove(sets)

{41, 10, 54, 26}

In [44]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

In [46]:
string = "pwskills"
print("Initially")
print("The datatype of string : " + str(type(string)))
print("Contents of string : " + string)
string = set(string)
print("\nAfter the conversion")
print("The datatype of string : " + str(type(string)))
print("Contents of string : ", string)

Initially
The datatype of string : <class 'str'>
Contents of string : pwskills

After the conversion
The datatype of string : <class 'set'>
Contents of string :  {'l', 's', 'p', 'i', 'w', 'k'}

In [47]:
lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

In [48]:
num = 10
print("Type of variable before conversion : ", type(num))
converted_num = str(num)
print("Type After conversion : ",type(converted_num))

Type of variable before conversion :  <class 'int'>
Type After conversion :  <class 'str'>

In [49]:
t = ('x', 'y', 'z')
print(type(t), " ", t)
s = set(t)
print(type(s), " ", s)

<class 'tuple'>   ('x', 'y', 'z')
<class 'set'>   {'x', 'z', 'y'}

In [50]:
s = {'a', 'b', 'c', 'd', 'e'}
print(type(s), " ", s)
t = tuple(s)
print(type(t), " ", t)

<class 'set'>   {'b', 'e', 'd', 'c', 'a'}
<class 'tuple'>   ('b', 'e', 'd', 'c', 'a')

In [51]:
def MAX(sets):
	return (max(sets))
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
print(MAX(sets))

65

In [52]:
def MIN(sets):
	return (min(sets))
sets = set([4, 12, 10, 9, 4, 13])
print(MIN(sets))

4

In [53]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms?  5

Fibonacci sequence:
0
1
1
2
3

In [54]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
		+ str(test_list))
test_list = list(set(test_list))
print ("The list after removing duplicates : "
		+ str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [55]:
test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]
print("The first list is : " + str(test_list1))
print("The second list is : " + str(test_list2))
test_list1.sort()
test_list2.sort()
if test_list1 == test_list2:
	print("The lists are identical")
else:
	print("The lists are not identical")

The first list is : [1, 2, 4, 3, 5]
The second list is : [1, 2, 4, 3, 5]
The lists are identical

In [56]:
def block(x):
	v = []
	print ("Blocks for %d : " %x, end="")
	while (x > 0):
		v.append(int(x % 2))
		x = int(x / 2)
	for i in range(0, len(v)):
		if (v[i] == 1):
			print (i, end = "")
			if (i != len(v) - 1):
				print (", ", end = "")
	print ("\n")

block(71307)
block(1213)
block(29)
block(100)

Blocks for 71307 : 0, 1, 3, 7, 9, 10, 12, 16

Blocks for 1213 : 0, 2, 3, 4, 5, 7, 10

Blocks for 29 : 0, 2, 3, 4

Blocks for 100 : 2, 5, 6

In [57]:
def triangular_series( n ):
	j = 1
	k = 1
	for i in range(1, n + 1):
		print(k, end = ' ')
		j = j + 1
		k = k + j
n = 5
triangular_series(n)

1 3 6 10 15

In [58]:
count_1 = 4
count_0 = 3
size = 14
test_list = [1 if i % (count_1 + count_0) < count_1
			else 0 for i in range(size)]
print("The list after initializing : " + str(test_list))

The list after initializing : [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0]